<section class="course-list-page">

  <h2>Available Courses</h2>

  <div class="search-row">

    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search courses">

    <button
      type="button"
      (click)="searchCourses()">
      Search
    </button>

  </div>

  @if (isLoading()) {

    <p>Loading courses...</p>

  } @else {

    <p>
      Total courses:
      {{ filteredCourses.length }}
    </p>

    <div class="course-grid">

      @for (
        course of filteredCourses;
        track course.id
      ) {

        <div
          class="clickable-course"
          tabindex="0"
          role="button"
          (click)="openCourse(course.id)"
          (keydown.enter)="openCourse(course.id)">

          <app-course-card
            [course]="course">
          </app-course-card>

        </div>

      } @empty {

        <p>No matching courses found.</p>

      }

    </div>

  }

</section>