<h2>Available Courses</h2>

<div>
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search courses"
    (keyup.enter)="searchCourses()"
  />

  <button
    type="button"
    (click)="searchCourses()"
  >
    Search
  </button>
</div>

@if (loading$ | async) {
  <p>Loading courses from NgRx Store...</p>
}

@if (error$ | async; as errorMessage) {
  <div>
    <p style="color: red;">
      {{ errorMessage }}
    </p>

    <button
      type="button"
      (click)="ngOnInit()"
    >
      Retry
    </button>
  </div>
}

@if (filteredCourses$ | async; as courses) {

  @if (!(loading$ | async) && courses.length === 0) {
    <p>No courses found.</p>
  }

  <p>
    Total Courses: {{ courses.length }}
  </p>

  <div class="course-grid">
    @for (course of courses; track course.id) {
      <div
        class="course-item"
        (click)="openCourse(course.id)"
      >
        <app-course-card
          [course]="course">
        </app-course-card>
      </div>
    }
  </div>
}